/*----------HEADER---------*/


@media only screen and (min-width: 322px) and (max-width: 480px) {


  header {
    margin-left: -1px;
  }

  body {
    overflow-x: hidden;
  }

  .boton {
    border: 2.5px solid #28d1be;
    padding: 3px 5px;
    font-size: 13px;
  
  }

  .dropdown a {
    font-family: Poppins;
    font-size: 12px;
  }

  .boton-rounded {
    border-radius: 15px 0 0 15px;
  }

  .boton-rounded.opuesto {
    border-radius: 0 15px 15px 0;
  }

  .Alogo {
    padding: 6px;
    width: 10%;
  }

  .dropdown a {
    font-size: 10px;
  }
}




@media (max-width: 480px) {


  .and {
  
    font-size: 25px;

  }
}

@media (min-width: 320px) {

  .and {
   
    font-size: 20px;
  
  }
}


@media (max-width: 768px) {
  .image-list img {
    max-width: 50%;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .image-list img {
    max-width: 50%;
    height: 68px;
    gap: 20px;

  }
}



@media (max-width: 480px) {


  .and {
    margin-top: 230px;
    font-size: 16px;
    padding: 100px;
  }
}

@media (min-width: 240px) {

  .and {
    margin-top: 230px;
    font-size: 18px;
    padding: 50px;
  }
}







  /*----------BODY AND SECTIONS---------*/

  /*BOXS*/

  @media only screen and (min-width: 322px) and (max-width: 480px) {



    .soportado h2 {
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: -860px;
      margin-top: 5px;
    }
  
    .box01 {
      width: 100px;
      height: 125px;
      margin-left: 300px;
      margin-top: -1230px;
    }
  
    .bid-container {
      width: 100px;
      height: 33px;
      border-radius: 12px;
      margin-top: 135px;
      margin-left: 299px;
    }
  
    .bid-container h4 {
      font-size: 8px;
    }
  
    .bid-container p {
      font-size: 5px;
    }
  
    .audi01 {
      width: 135px;
      height: 38px;
      margin-left: -40px;
      border-radius: 10px;
    }
  
    .audi01 p {
      font-size: 12px;
      margin-left: -10px;
      margin-top: 20px;
    }
  
    .audi01 h5 {
      font-size: 12px;
      margin-left: -10px;
      margin-top: -20px;
    }
  
    .inver01 {
      width: 100px;
      height: 125px;
      margin-top: -23px;
      margin-left: -20px;
      transform: skew(-0deg);
    }
  
    .aution01 {
      display: none;
    }
  
    .aution01 p {
      font-size: 11px;
      font-style: normal;
    }
  }




  
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .box02 {
      position: absolute;
      width: 100px;
      height: 125px;
      margin-left: 10px;
      margin-top: -1230px;
    }
  
    .bid-now {
      width: 100px;
      height: 33px;
      margin-left: 18px;
      border-radius: 12px;
    }
  
    .bid-now h4 {
      font-size: 8px;
    }
  
    .bid-now p {
      font-size: 5px;
    }
  
    .audi02 {
      display: flex;
      width: 148.5px;
      height: 37px;
      margin-left: 10px;
      border-radius: 10px;
    }
  
    .audi02 p {
      font-size: 12px;
      margin-left: 10px;
      margin-top: 20px;
    }
  
    .audi02 h5 {
      font-size: 10px;
      margin-left: 10px;
    }
  
    .inver02 {
      width: 100px;
      height: 125px;
      transform: skew(1deg);
      border-radius: 20px;
      margin-left: 15px;
      margin-top: -25px;
    }
  
    .aution02 {
      display: none;
    }
  
    .aution02 p {
      width: 110.265px;
      font-size: 10.5px;
      text-align: center;
      margin-top: 20px;
    }
  
    .container-text {
      margin-left: 12px;
      margin-top: 165px;
      line-height: normal;
    }
  
    .container-text h1 {
      font-size: 9px;
    }
  
    .container-text h3,
    h4,
    h6 {
      font-size: 8px;
    }
  }
  
/*END BOXS*/



/*SECTION EXCHANJE */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .swap-container {
      width: 55%;
      height: 200px;
      top: 33%;
      left: 3%;
    }
  
    .columna {
      left: 64%;
      top: 36%;
    }
  
    .green {
      display: none;
    }
  
    .columna li {
      margin-bottom: 1px;
      font-size: 6px;
    }
  
    .graf {
      width: 80%;
      height: 65%;
      top: 59px;
    }
  
    .linea {
      margin-top: 8%;
      margin-left: 115px;
    }
  
    .contenedor-icons {
      width: 112px;
      height: 27.5px;
      top: 32.9%;
      margin-left: -4.5%;
      border-radius: 10px;
    }
  
    .icono1 {
      width: 10px;
      height: 10px;
      top: -10px;
      left: -12px;
    }
  
    .icono2,
    .icono3,
    .icono5 {
      width: 10px;
      height: 10px;
    }
  
    .icono4 {
      width: 8px;
      height: 12px;
  
    }
  
    .contenedor-amacrux {
      width: 156px;
      height: 170px;
      display: flex;
      left: 102%;
      top: 14%;
    }
  
    .amax1 {
      width: 25%;
      left: -44%;
      top: -60%;
    }
  
    .int {
      width: 125px;
      border-radius: 10px;
      height: 25px;
      top: 10%;
      left: 5%;
  
    }
  
    .int h1 {
      font-size: 10px;
      margin-left: 75%;
      margin-top: 20px;
    }
  
    .risk {
      width: 24%;
      right: 20%;
      top: 38%;
  
    }
  
    .exchangeswap {
      width: 9%;
      right: 50%;
      top: 45%;
    }
  
    .token {
      width: 15%;
      left: 5%;
      top: 50%;
    }
  
    .intt {
      width: 125px;
      border-radius: 10px;
      height: 25px;
      top: 58%;
      left: 5%;
    }
  
    .intt h1 {
      font-size: 10px;
      margin-left: 75%;
      margin-top: 20px;
      ;
    }
  
    .slip {
      width: 20%;
  
      left: 22%;
  
    }
  
    .cero {
      width: 15%;
  
      left: 65%;
    }
  
    .cross {
      width: 65%;
    }
  
    .miBoton {
      top: 32.9%;
      left: 58%;
      width: 45px;
      height: 25px;
      border-radius: 10px;
    }
  
    .miBoton p {
      font-size: 9px;
    }
  
 
  
    .swap-text {
      top: 29%;
    }
  
    .swap-text h1 {
      font-size: 18px;
      margin-left: -45px;
    }
  
    .exchange {
      left: 46%;
      width: 20px;
      height: 18px;
      top: 3%;
    }
  
    .vol {
      width: 30%;
      right: 68%;
      top: 15%;
    }
  
    .vol2 {
      top: 15.5%;
      left: 36%;
      width: 30%;
    }
  
    .vol3 {
      width: 25%;
      right: 1%;
      top: 15%;
    }
  
    .vol4 {
      position: absolute;
      left: -5%;
      top: 24%;
    }
  
    .contenedor-hora ul {
      display: none;
    }
  
  
  
    .container-chain {
  
      display: none;
  
    }
  
  
  
  
    .rest {
      max-width: 50%;
      max-height: 20%;
      margin-top: -160%;
      left: 1%;
   
  
    }
  
    .container-carrusel h1 {
      margin-left: -20%;
      margin-top: -170%;
      font-size: 14px;
     
    }
  
    .container-contexto p {
      margin-left: -4%;
      margin-top: -170%;
      width: 170px;
      font-size: 12px;
    
    }
  
  
  
    .waths {
      position: absolute;
      top: 202%;
      left: 90px;
    }
  
    .waths h1 {
   
      text-align: center;
      font-size: 14px;
     
    }
  
  
    .content-imagen h1 {
      margin-top: -28%;
      font-size: 25px;
      margin-left: 5%;
  
    }
  
  
    .content-imagen img {
      width: 48.9%;
      left: 1%;
      margin-top: -20%;
    }
  
    .container-carrusel {
      width: 100%;
      max-height: 1300px;
    }
  }
  

  /*END SECTION EXCHANGE */






  /*SECTION CARDS SOCIAL MEDIA  */


  
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .container-social {
      margin-top: 1%;
      margin-left: -1%;
    }
  
  
    .title-socials h1 {
  
      font-size: 20px;
      margin-left: 10px;
      margin-top: 10%;
      width: 40%;
    }
  
    .car {
      width: 7.3%;
      height: 165px;
      border-radius: 20px;
  
    }
  
    .car img {
      width: auto;
      height: 90px;
    }
  
    .car.contenido-card {
      text-align: center;
    }
  
    .car h4 {
      margin-bottom: 15px;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      margin-left: 6%;
      margin-top: 35%;
    }
  
    .car.contenido-card p {
      line-height: 1.8;
      font-size: 4px;
      margin-bottom: 5px;
    }
  
    .car .contenido-card a {
      padding: 10px;
      margin-top: 10px;
      left: 60%;
  
    }
  
    .instagram-button {
      margin-left: 25%;
      margin-top: 10%;
      display: inline-block;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      transition: transform 0.3s;
    }
  
    .instagram-button img {
      width: 38px;
      height: 38px;
      vertical-align: middle;
    }
  }
 
  /*END SECTION SOCIAL MEDIA */



  /*FOOTER*/



  @media only screen and (min-width: 322px) and (max-width: 480px) {

    footer {
  
      top: 3040px;
      display: flex;
      height: 100%;
    }
  
    .tab {
  
  
      height: 5%;
      padding: 10px;
      margin-top: 41%;
      font-size: 11px;
  
  
    }
  
    .tab a {
  
      padding-right: 2px;
  
  
    }
  
    .tab::after {
  
      font-size: 14px;
      right: -10;
  
    }
  
    .tab-content {
  
      font-size: 11px;
      margin-left: -10px;
  
  
    }
  
    .tab:hover .tab-content {
      display: block;
    }
  
  
    .amaxlogo {
      height: 5%;
      margin-left: -70%;
      margin-top: 20%;
    }
  }













/*----------PANTALLA DOS ---------*/


@media only screen and (min-width: 260px) and  (max-width: 320px){


  header {
    margin-left: -1px;
  }

  body {
    overflow-x: hidden;
  }

  .boton {
    border: 2px solid #28d1be;
    padding: 1px 2px;
    font-size: 8.5px;

  
  }
  .dropdown a {
  
    font-size: 12px;
  }

  .boton-rounded {
    border-radius: 15px 0 0 15px;
  }

  .boton-rounded.opuesto {
    border-radius: 0 15px 15px 0;
  }

  .Alogo {
    padding: 6px;
    width: 15%;
  }

  .dropdown a {
    font-size: 10px;
  }
}








@media (min-width: 240px) {

  .and {
    margin-top: 230px;
    font-size: 12px;
    padding: 50px;
  }
}







  /*----------BODY AND SECTIONS---------*/

  /*BOXS*/

  @media only screen and (min-width: 260px) and  (max-width: 320px) {



    .soportado h2 {
      text-align: center;
      font-size: 14px;
      margin-left: -990px;
  
    }
  
    .box01 {
      width: 90px;
      height: 125px;
      margin-left: 220px;
      margin-top: -1230px;
    }
  
    .bid-container {
      width: 100px;
      height: 33px;
      margin-top: 135px;
      margin-left: 210px;
     
    }
  
    .bid-container h4 {
      font-size: 8px;
    }
  
    .bid-container p {
      font-size: 5px;
    }
  
    .audi01 {
      width: 130px;
      height: 38px;
      margin-left: -40px;
      border-radius: 10px;
      
    }
  
    .audi01 p {
      font-size: 12px;
      margin-left: -10px;
      margin-top: 20px;
    }
  
    .audi01 h5 {
      font-size: 12px;
      margin-left: -10px;
      margin-top: -20px;
    }
  
    .inver01 {
      width: 100px;
      height: 125px;
      margin-top: -23px;
      margin-left: -20px;
      transform: skew(-0deg);
    }
  
    .aution01 {
      display: none;
    }
  
    .aution01 p {
      font-size: 11px;
      font-style: normal;
    }
  }




  
  @media only screen and (min-width: 260px) and  (max-width: 320px) {
    .box02 {
      position: absolute;
      width: 100px;
      height: 125px;
      margin-left: 10px;
      margin-top: -1230px;
    }
  
    .bid-now {
      width: 100px;
      height: 33px;
      margin-left: 18px;
      border-radius: 12px;
    }
  
    .bid-now h4 {
      font-size: 8px;
    }
  
    .bid-now p {
      font-size: 5px;
    }
  
    .audi02 {
      display: flex;
      width: 115px;
      height: 37px;
      margin-left: px;
      border-radius: 10px;
    }
  
    .audi02 p {
      font-size: 12px;
      margin-left: 10px;
      margin-top: 20px;
    }
  
    .audi02 h5 {
      font-size: 10px;
      margin-left: 10px;
    }
  
    .inver02 {
      width: 100px;
      height: 125px;
    }
  
    .aution02 {
      display: none;
    }
  
    .aution02 p {
      width: 110.265px;
      font-size: 10.5px;
      text-align: center;
      margin-top: 20px;
  
    }
  
    .container-text {
      margin-left: 12px;
      margin-top: 165px;
      line-height: normal;
    }
  
    .container-text h1 {
      margin-top: 4%;
      position: absolute;
      font-size: 7px;
      margin-left: 22%;
    }
  
    .container-text h3,
    h4,
    h6 {
      font-size: 6px;
      margin-left: -20%;
    }
  }
  
/*END BOXS*/



/*SECTION EXCHANJE */

@media only screen and (min-width: 260px) and  (max-width: 320px){
    .swap-container {
      width: 50%;
      height: 200px;
      top: 33%;
      left: 3%;
    }
  
    .columna {
      left: 50%;
      top: 36%;
    }
  
    .green {
      display: none;
    }
  
    .columna li {
      margin-bottom: 1px;
      font-size: 6px;
    }
  
    .graf {
      width: 80%;
      height: 65%;
      top: 59px;
    }
  
    .linea {
      margin-top: 8%;
      margin-left: 115px;
    }
  
    .contenedor-icons {
      width: 102px;
      height: 27.5px;
      top: 32.9%;
      margin-left: -4.5%;
      border-radius: 10px;
    }
  
    .icono1 {
      width: 10px;
      height: 10px;
      top: -10px;
      left: -12px;
    }
  
    .icono2,
    .icono3,
    .icono5 {
      width: 10px;
      height: 10px;
    }
  
    .icono4 {
      width: 8px;
      height: 12px;
  
    }
  
    .contenedor-amacrux {
      width: 146px;
      height: 170px;
      display: flex;
      left: 102%;
      top: 14%;
    }
  
    .amax1 {
      width: 25%;
      left: -44%;
      top: -60%;
    }
  
    .int {
      width: 125px;
      border-radius: 10px;
      height: 25px;
      top: 10%;
      left: 5%;
  
    }
  
    .int h1 {
      font-size: 10px;
      margin-left: 75%;
      margin-top: 20px;
    }
  
    .risk {
      width: 24%;
      right: 20%;
      top: 38%;
  
    }
  
    .exchangeswap {
      width: 9%;
      right: 50%;
      top: 45%;
    }
  
    .token {
      width: 15%;
      left: 5%;
      top: 50%;
    }
  
    .intt {
      width: 125px;
      border-radius: 10px;
      height: 25px;
      top: 58%;
      left: 5%;
    }
  
    .intt h1 {
      font-size: 10px;
      margin-left: 75%;
      margin-top: 20px;
      ;
    }
  
    .slip {
      width: 20%;
  
      left: 22%;
  
    }
  
    .cero {
      width: 15%;
  
      left: 65%;
    }
  
    .cross {
      width: 65%;
    }
  
    .miBoton {
      top: 32.9%;
      left: 53%;
      width: 45px;
      height: 25px;
      border-radius: 10px;
    }
  
    .miBoton p {
      font-size: 9px;
    }
  
    .container-chain p {
      font-size: 12px;
      margin-left: -890px;
    }
  
    .swap-text {
      top: 29%;
    }
  
    .swap-text h1 {
      font-size: 18px;
      margin-left: -45px;
    }
  
    .exchange {
      left: 46%;
      width: 20px;
      height: 18px;
      top: 3%;
    }
  
    .vol {
      width: 30%;
      right: 68%;
      top: 15%;
    }
  
    .vol2 {
      top: 15.5%;
      left: 36%;
      width: 30%;
    }
  
    .vol3 {
      width: 25%;
      right: 1%;
      top: 15%;
    }
  
    .vol4 {
      position: absolute;
      left: -5%;
      top: 24%;
    }
  
    .contenedor-hora ul {
      display: none;
    }
  
  
  
    .container-chain {
  
      display: none;
  
    }
  
  
  
  
    .rest {
      max-width: 45%;
      max-height: 25%;
      margin-top: -230%;
      left: 1%;
  
    }
  
 
  
    .container-contexto p {
      padding: 12px;
      margin-left: -13%;
      margin-top: -155%;
      width: 190px;
      font-size: 9px;
    }
  
  
  
    .waths {
      top: 330%;
      left: 90px;
    
    }
  
    .waths h1 {
  
      font-size: 20px;
      font-size: 12px;
    }
  
  
    .content-imagen h1 {
      margin-top: -28%;
      font-size: 25px;
      margin-left: 5%;
  
    }
  
  
    .content-imagen img {
      width: 38.3%;
      left: 1%;
      margin-top: -20%;
    }
  
    .container-carrusel {
      width: 100%;
      max-height: 1300px;
    }


    .container-carrusel h1 {
      left: 54%;
      top: -10%;
    
      
    }
  }
  

  /*END SECTION EXCHANGE */






  /*SECTION CARDS SOCIAL MEDIA  */


  
  @media only screen and (min-width: 260px) and  (max-width: 320px){
    .container-social {
      margin-top: 1%;
      margin-left: -6%;
      padding: 7%;
    }
  
  
    .title-socials h1 {
  
      font-size: 20px;
      margin-left: 10px;
      margin-top: 10%;
      width: 40%;
    }
  
    .car {
      width: 5.5%;
      height: 155px;
      border-radius: 20px;
    
  
    }
  
    .car img {
      width: auto;
      height: 90px;
  
    }
  
    .car.contenido-card {
      text-align: center;
     
    }
  
    .car h4 {
    

      margin-left: 6%;
      margin-top: 35%;
    }
  
    .car.contenido-card p {
      line-height: 1.8;
      font-size: 4px;
      margin-bottom: 5px;
    }
  
    .car .contenido-card a {
      padding: 10px;
      margin-top: 10px;
      left: 60%;
  
    }
  
    .instagram-button {
      margin-left: 25%;
      margin-top: 10%;
      display: inline-block;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      transition: transform 0.3s;
    }
  
    .instagram-button img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
  }
 
  /*END SECTION SOCIAL MEDIA */



  /*FOOTER*/



  @media only screen and (min-width: 260px) and  (max-width: 320px){

    footer {
  
      top: 3040px;
      display: flex;
      height: 100%;
    }
  
    .tab {
  
  
      height: 7%;
      padding: 12px;
      margin-top: 40%;
      font-size: 10px;
      margin-left: -3%;
  
  
    }
  
    .tab a {
  
      padding-right: 2px;
  
  
    }
  
    .tab::after {
  
      font-size: 11px;
      right: -10;
  
    }
  
    .tab-content {
  
      font-size: 11px;
      margin-left: -10px;
  
  
    }
  
    .tab:hover .tab-content {
      display: block;
    }
  
  
    .amaxlogo {
      height: 5%;
      margin-left: -99%;
      margin-top: 20%;
    }
  }





