#myCarousel .carousel-item .mask {
  display: flex;
  padding: 2px;
  width: 830px;
  height: 472px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 19.995px;
  border: 1.5px solid #FFF;
  background: linear-gradient(155deg, rgba(255, 255, 255, 0.00) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
  box-shadow: 0px 3.99902px 48.98795px 0px rgba(0, 7, 72, 0.12);
  backdrop-filter: blur(7.4981560707092285px);

}

.slider {
  margin-left: 205px;
  position: absolute;
  margin-top: -1182px;
}


#myCarousel h4 {

  position: absolute;
  top: -28%; 
  left: 64%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  font-family: Trial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;


}


#myCarousel .letras {
  position: absolute;
  width: 907px;
  height: 66.555px;
  flex-shrink: 0;
  left: -9%;
  top: -65%;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-family: Trial;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;


}




#myCarousel p {
  text-align: justify;
  font-size: 10px;
  color: #fff;
  margin-top: 25%;

}

.col-lg-6 order-1 order-lg-2 hero-img {
  position: relative;
  left: 10%;
  transform: translateX(-50%);
}

/*=============================*/
/*   Carousel Controls Style */
#myCarousel .carousel-item {
  font-size: 14px;
  color: #FFF;
  padding: 13px 32px;
  display: inline-block;
}

#myCarousel .carousel-item a:hover {

  text-decoration: none;
}

#myCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

#myCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

#myCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


#myCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%;
  margin-top: 60%;

}

#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#myCarousel .container {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

#myCarousel .carousel-item {
  min-height: 65vh;
  position: relative;
  overflow: hidden;
}


#myCarousel {
  position: relative;
  z-index: 1;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 5px;
  font-display: none;
  bottom: auto;
  transform: translateY(-50%);
  top: 84%;
  margin-left: -12%;
}



.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 980px;
  height: 573px;
  margin-top: 2040px;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-property: opacity;
  transition-property: opacity
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  opacity: 1
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

@supports (transform-style:preserve-3d) {

  .carousel-fade .carousel-item-left.active,
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item-prev.active,
  .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}





@media (min-width:320px) and (max-width: 480px) {


  .slider {

    margin-left: -5px;
    position: absolute;
    margin-top: -2382px;
  }

  .order-1 {
    left: 72px;
    top: -45px;
  }


  #myCarousel .carousel-item .mask {
    width: 42%;
    height: 45%;


  }


  #myCarousel .letras {

    width: 75%;
    font-size: 8px;
    margin-top: -55%;
    margin-left: 15%;


  }



  #myCarousel .carousel-item .mask img {


    padding-left: 38%;
    max-width: 70%;

  }


  #myCarousel h4 {
    left: 115px;
    font-size: 10px;
    margin-top: -210px;


  }


  #myCarousel p {

    font-size: 6px;
    margin-top: -40%;
    width: 75%;
    padding: 1px;

  }




}



@media (min-width:320px) and (max-width: 390px) {



  .order-1 {
    left: 72px;
    top: -45px;
  }


  #myCarousel .carousel-item .mask {
    width: 38%;
    height: 45%;


  }


}